:root {
  --dark: #000000;
  --light: #332f2f;
  --blue: #101ed9;
  --blue: #1c227c;
}

body {
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}